body {
    font-family: "Star3000";
    background-color: #B3EBF2;
    border: 10px groove #77DD77;
    margin: 0;
    padding: 5px;
}
#weatherForm {
    margin-bottom: 20px;
}
#weatherResult {
    margin-top: 20px;
}

@font-face {
    font-family: "Star3000";
    src: url(fonts/Star3000/Star3000.ttf);
}